/*
Theme Name: yourmodelrealestate.com
Description: AIOS mobile semi-custom theme.
Author: AgentImage
Author URI: http://www.agentimage.com
Version: 1.6.0
Tags: one-column, two-columns, right-sidebar, custom-menu, full-width-template, sticky-post
License: Proprietary
License URI: http://www.agentimage.com
Template: aios-starter-theme
*/

/*

TABLE OF CONTENTS

1. Variables
2. Custom CSS
3. IP styles
4. MEDIA QUERIES ARE AUTOMATICALLY REMOVED FROM THIS FILE, they must be placed in style-media-queries.css

*/

/*******************************************************
 *
 * 1. Variables
 *
 *******************************************************/

 :root {
    /** Font default */
    --font-family-default: 'Montserrat', sans-serif;
    --font-family-title: 'Italiana', serif;
    --font-size-default: 14px;
    --font-size-title: 18px;
    --font-color-default: #000000;
    --font-color-title: #6c757d;
    
    /** Use for input, button, and any other element */
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

/*******************************************************
 *
 * 2. Navigation
 *
 *******************************************************/

/* Sub Menu */
#nav li {
    position:relative;
    display: inline-block;
}

#nav .sub-menu {
    list-style: none outside none;
    margin: 0;
    background: rgba(0,0,0,0.9) url("images/submenu-fixer.png");
    display: none;
    padding: 0;
    position: absolute;
 	width:100%;
 	min-width:180px;
}
#nav .sub-menu a {
    color: #FFFFFF;
    display: block;
    padding: 10px;
}
#nav .sub-menu a:hover {
    background: none repeat scroll 0 0 var(--light);
    color: var(--font-color-default);
    text-decoration: none;
}
#nav .sub-menu .sub-menu {
    margin-left: 100%;
 	top:0;
}
#nav li:hover > .sub-menu {
    display: block;
}
#nav .sub-menu li {
    position: relative;
}


/*******************************************************
 *
 * 3. Custom CSS
 *
 *******************************************************/

/* Global */

body{
	font-family: var(--font-family-default);
	font-size: var(--font-size-default);
	background: #FFFFFF;
	color: var(--font-color-default);
	margin: 0;

    /* Remove the comment from line 85 to 86 if the font issue in safari occurs */
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}
header.header {
    font-size: 0;
}
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #000000;
}
img {
    max-width: 100%;
}

/* Site title primary */
.site-title-primary {
    display: flex;
}
.site-title-primary .section-number {
    border-right: #000000 solid 2px;
    padding-right: 22px;
    font-weight: 500;
    max-height: 84px;

}

.site-title-primary .section-name {
    margin-left: 22px;
    letter-spacing: 0.05em;
}

.site-title-primary h4 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'montserrat';
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #bcb8b5;
    margin-bottom: 10px;
}

.site-title-primary h2 {
    font-size: 70px;
    font-family: 'Italiana';
    text-transform: uppercase;
    color: #000000;
    line-height: 51px;
}

/* Site btn primary */
.site-btn-primary {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .10em;
    font-size: 15px;
    border: 2px solid;
    border-image: linear-gradient(to right, 
     rgba(124,94,56,1) 0%,
     rgba(208,183,147,1) 49%,
     rgba(124,94,56,1) 100%
     ) 1;
}

/*******************************************************
 *
 * 4. IP Styles
 *
 *******************************************************/
.ip-banner{
    position: relative;
    width: 100%;
}
    .ip-banner::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0,0,0,.6);
    }
    .ip-banner canvas{
        display: block;
        position: relative;
        z-index: 0;
        width: 100%;
        min-height: 250px;
        background-color: var(--dark);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ip-banner .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
    }
        .ip-banner h1 {
            font-weight: 700;
            font-size: 32px;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            line-height: 1.7;
        }
            .ip-banner h1 span{
                display: block;
                font-size: 24px;
                font-weight: 400;
                text-transform: none;
                letter-spacing: 0.01em;
            }
/* Adjust minimum height of page area */
#content-sidebar, #content-full{ min-height: 500px; margin-top: 20px;}

/** Adjust width of content columns **/
#content-sidebar #content{ width: 77.08%; }
#content-full #content { width: 100%; }

/* Adjust width of sidebar */
.sidebar{ width: 20.83%; }

/* fullwidth template */
.page-template-template-fullwidth #content {
    padding-left: 15px;
    padding-right: 15px;
}
    .page-template-template-fullwidth #content ihf-search[data-eureka-id*=""].ihf-eureka {
        margin-left: -15px;
        margin-right: -15px;
    }

/* Adjust line height of page elements */
#content h4, aside h4,
#content p, aside p,
#content blockquote, aside blockquote,
#content ul, aside ul,
#content fieldset, aside fieldset,
#content form, aside form,
#content ol, aside ol,
#content dl, aside dl,
#content dir, aside dir,
#content menu, aside menu { line-height:1.7 }

/* Style .entry-title(post/page) and .archive-title(category/archive/etc) main headings (h1) */
#content .entry-title,
#content .archive-title {

}

/* Styles for category/archive/search/etc subheadings (h2) */
#content .archive-subtitle {

}

/* Header start */

/* Header end */


/* Slideshow start */

/* Slideshow end */


/* Quick search start */
.comp-quick-search-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 30px;
    padding: 20px 0 90px 0;
}

.comp-quick-search-container .site-title-primary{
   grid-column: 1 / 5;
}

.comp-search-container {
    grid-column: 5 / -1;
    /* Grid */
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 8px;

}
.comp-search-container input,
.comp-search-container select {
    width: 100%;
}
.zip-item {
    grid-column: 1/6;
    grid-row: 1/2;
}

.property-item {
    grid-column: 6/-1;
    grid-row: 1/2;
}

.bed-item {
    grid-column: 1/3;
    grid-row: 2/3;
}

.bath-item {
    grid-column: 3/5;
    grid-row: 2/3;
}

.min-item {
    grid-column: 5/6;
    grid-row: 2/3;
}

.max-item {
    grid-column: 6/7;
    grid-row: 2/3;
}

.search-item {
    grid-column: 7/9;
    grid-row: 2/3;
}

.advance-item {
    grid-column: 9/-1;
    grid-row: 2/3;
}
/* Quick search end */


/* About start*/

.hp-about {
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    z-index: 1;
    padding: 0 0 80px 0;
}

.hp-about::before {
    content: '';
    position: absolute;
    top: 0;
    background: url(images/about-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    pointer-events: none;
    opacity: 0.12;
}

.comp-about-container a {
    max-width: 210px;
}

.comp-about-container {
    position: relative;
    
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "aboutImg aboutItem";
}

.about-img {
    grid-column: 1/2;
    max-width: 488px;
}

.about-item {
    grid-column: 2/3;
    padding: 0 0 0 56px;
}

.about-title h2 {
    line-height: 60px;
}

.about-paragraph .item-middle{
    padding: 34px 0 0 0 ;
}
.about-paragraph .item-bottom {
    padding: 24px 0 28px 0;
}
/* About end*/


/* Featured-properties start */

.comp-featured-properties-container a {
    max-width: 266px;
}

.properties-item .img-properties {
    max-width: 330px;
}

/* Featured-properties end */


/* Featured-areas start */

.hp-featured-areas {
    padding: 122px 0 56px 0;
}

.hp-featured-areas img {
    width: 100%;
}

.comp-featured-areas-container .featured-areas-item a {
  max-width: 278px;  
}

.comp-featured-areas-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 5px;
    grid-template-areas: 
    "areas areas atlanta fulton"
    "cobb dekalb gwinnett forsyth"
    "fayette henry rockdale clayton"
    ;
}


.areas {
    grid-area: areas;
}

.atlanta {
    grid-area: atlanta;
}

.fulton {
    grid-area: fulton;
}

.cobb {
    grid-area: cobb;
}

.dekalb {
    grid-area: dekalb;
}

.gwinnett {
    grid-area: gwinnett;
}

.forsyth {
    grid-area: forsyth;
}

.fayette {
    grid-area: fayette;
}

.henry {
    grid-area: henry;
}

.rockdale {
    grid-area: rockdale;
}

.clayton {
    grid-area: clayton;
}

.areas p {
    padding: 53px 0 40px 0;
}
.comp-featured-areas-container .areas {
    padding: 46px 110px 0 226px;
}

.comp-featured-areas-container .site-btn-secondary {
    width: 210px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border: 2px solid #ffffff;
}
.comp-featured-areas-container .featured-areas-item {
    position: relative;
}
.comp-featured-areas-container .featured-areas-item:hover .site-btn-secondary{
    display: block;
    background: transparent;
    text-transform: uppercase;
    max-height: 50px;
    max-width: 210px;
    margin: 16px 0 0 0;

}
.comp-featured-areas-container .site-btn-secondary {
    display: none;
}
.comp-featured-areas-container .content {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 34px;
    font-weight: 500;
    line-height: 0.5em;
    text-transform: uppercase;
    height: 100%; 
    width: 100%; 
    color: #ffffff;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
/* Featured-areas end */


/* Cta start */

.hp-cta {
    padding: 56px 0 74px 0;
}

.comp-cta-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    grid-template-areas: 
    "buyers search sellers homeValuation"
    ;
}

.buyers {
    grid-area: buyers;
}

.search {
    grid-area: search;
}

.sellers {
    grid-area: sellers;
}

.home {
    grid-area: homeValuation;
}

.cta-item img {
    width: 100%;
}

.cta-item h3 {
    display: flex;
    font-size: 44px;
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    padding: 42px 0 0 0;
    align-items: center;
    justify-content: center;
}
/* Cta end */


/* Testimonials start */
.hp-testimonials {
    background-color: gray;
    padding: 82px 0;
}

.comp-testimonials-container a {
    max-width: 302px;
    margin: 40px 0 0 0;
}

.comp-testimonials-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "testimonial contactForm";
}

.testimonial {
    grid-area: testimonial;
}

.contact-form {
    grid-area: contactForm;
}

.comp-testimonials-container .testimonials-item.contact-form {
    background-color: #ffffff;
}

.testimonials-item {
    padding: 22px 34px 20px 10px;
}
.testimonials-item .quote-wrapper {
    text-align: center;
}
.testimonials-item img {
    margin-top: 30px ;
}

.testimonials-item p {
    padding: 30px 0 30px 0;
}
.testimonials-item h5 {
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.05em;
}


/* Testimonials End */


/* Featured Videos start */
.hp-featured-videos {
    max-width: 1460px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}
.comp-featured-videos-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    position: relative;
}
.comp-featured-videos-container .video-item {
    grid-column: 1/12;
}
.comp-featured-videos-container .main-slick-video {
    grid-column: 12/-1;
}
.comp-featured-videos-container a {
    max-width: 278px;
}
.comp-featured-videos-container .slick-next,
.comp-featured-videos-container .slick-prev {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #000000 solid 1px;
    cursor: pointer;
}
.comp-featured-videos-container .slick-action {
    position: absolute;
    right: 0;
    top: 0;
}

/* Featured Videos end */


/* Footer start */

.hp-footer {
    /* background-color: #372b4c; */
}
/* Footer end */

/* MEDIA QUERIES ARE AUTOMATICALLY REMOVED FROM THIS FILE, they must be placed in style-media-queries.css */