/*******************************************************
 *
 * Mobile styles and other media queries
 *
 *******************************************************/

 
/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */ 

@media only screen and (max-width: 1450px) {
	/* 1366px */
	/* Global start */
	.site-title-primary h2 {
		font-size: 56px;
	}
	.slick-next, .slick-prev {
		min-height: 53px;
		min-width: 77px;
	}
	.site-btn-primary {
		min-height: 60px;
	}
	/* Global end */

	/* Header start */

	/* Header end */


	/* Slideshow start */

	/* Slideshow end */


	/* Quick search start */

	/* Quick search end */


	/* About start*/

	/* About end*/


	/* Featured-properties start */
	.comp-featured-properties-container .slick-action {
		margin-bottom: 24px;
	}
	.properties-item p {
		padding: 14px 0;
	}
	
	/* Featured-properties end */


	/* Featured-areas start */
	.comp-featured-areas-container .areas {
		padding: 0 110px 0 226px;
	}
	.comp-featured-areas-container .areas p {
		padding: 18px 0 20px 0;
	}
	/* Featured-areas end */


	/* Cta start */

	/* Cta end */


	/* Testimonials start */
	.comp-testimonials-container .contact-form {
		margin-right: 0;
	}
	.contact-form {
		padding: 32px 24px;
	}
	/* Testimonials End */


	/* Featured Videos start */

	/* Featured Videos end */

}


@media only screen and (max-width: 1365px) {
	/* 1200 */	

	/* Header start */

	/* Header end */


	/* Slideshow start */

	/* Slideshow end */


	/* Quick search start */

	/* Quick search end */


	/* About start*/

	/* About end*/


	/* Featured-properties start */

	/* Featured-properties end */


	/* Featured-areas start */

	/* Featured-areas end */


	/* Cta start */
	.hp-cta {
		padding: 56px 30px 28px 30px;
	}
	/* Cta end */


	/* Testimonials start */

	/* Testimonials End */


	/* Featured Videos start */

	/* Featured Videos end */

}


@media only screen and (max-width: 1199px) {
	/* 992 */
	/* global start */
	.site-title-primary h2 {
		font-size: 44px;
	}
	select {
		background: transparent url(images/qs-arrow.png) no-repeat scroll right 8px center;
	}
	/* global end */
	/* Header start */

	/* Header end */


	/* Slideshow start */

	/* Slideshow end */


	/* Quick search start */
	.comp-quick-search-container {
		grid-column-gap: 0;
	}
	.comp-search-container {
		margin-left: -79px;
	}
	.hp-quick-search input,
	.hp-quick-search select,
	.hp-quick-search .search-btn-primary,
	.hp-quick-search .search-btn-primary,
	.hp-quick-search .serch-btn-secondary {
		font-size: 11px;
}
	/* Quick search end */


	/* About start*/
	.hp-about::after {
		height: calc(100% - 150px);
	}
	/* About end*/


	/* Featured-properties start */
	.comp-featured-properties-container {
		width: 100%;
		padding-left: 50px;
	}
	.comp-featured-areas-container .areas {
		padding: 16px 16px;
	}
	.comp-featured-areas-container .areas p {
		padding: 4px 0 10px 0;
	}
	.hp-featured-properties {
		padding-top: 46px;
	}
	.comp-featured-properties-container .slick-item:hover::after {
		transform: translate(-50%, -50%) scale(.3);
	}
	.featured-property-slick .slick-item::after {
		top: 25%;
	}
	/* Featured-properties end */


	/* Featured-areas start */

	/* Featured-areas end */


	/* Cta start */

	.hp-cta {
		padding: 28px 30px;
	}

	.cta-item a:hover .cta-img::after {
		transform: translate(-50%, -50%) scale(.45);
	}
	.cta-item h3 {
		font-size: 24px;
	}
	/* Cta end */


	/* Testimonials start */

	.hp-testimonials .slick-dots {
		bottom: 37px;
		right: 2px;
	}

	.comp-testimonials-container .site-btn-primary {
		max-width: 235px;
		font-size: 12px;
	}

	.testimonial-slick {
		max-width: 420px;
	}
	/* Testimonials End */


	/* Featured Videos start */

	.comp-featured-videos-container .site-btn-primary {
		max-width: 224px;
		margin: 22px auto 0;
		font-size: 14px;
	}

	.comp-featured-videos-container .slick-action {
		right: 3px;
	}

	.feature-slick-video .ai-font-play-button-a {
		height: 56px;
		width: 56px;
	}

	.slick-next, .slick-prev {
		min-height: 34px;
		min-width: 34px;
	}

	/* Featured Videos end */
} 

/* iPad(portrait) | Galaxy Tab 4(portrait)  */ 
@media only screen and (max-width: 991px) {
	/* 768 */
	
	/* Header start */
	.header {
		display: none;
	}
	/* Header end */


	/* Slideshow start */

	/* Slideshow end */


	/* Quick search start */

	.hp-about {
		padding: 0;
		padding-bottom: 20px;
	}

	.comp-quick-search-container .site-title-primary {
		grid-row: 1;
		grid-column: 1 / -1;
	}
	.comp-search-container {
		grid-column: 1 / -1;
		grid-row: 2;
	}
	.comp-search-container {
		margin-left: 0;
	}
	/* Quick search end */


	/* About start*/
	.hp-about .about-img {
		grid-column: 1/-1;
		grid-row: 1;
	}
	.hp-about .about-item {
		grid-column: 1/-1;
		grid-row: 2;
		padding: 20px 10px;
	}

	.hp-about .about-img:after {
		display: none;
	}

	.hp-about::after {
		display: none;
	}
	
	.comp-about-container .site-btn-primary {
		margin: 0 auto;
	}

	.about-paragraph p {
		text-align: center;
	}
	/* About end*/


	/* Featured-properties start */
	.comp-featured-properties-container  {
		flex-direction: column;
		padding-left: 0;
	}
	.comp-featured-properties-container .property-content {
		width: 100%;
	}
	.comp-featured-properties-container .featured-property-slick {
		width: 100%;
	}

	.comp-featured-properties-container .site-btn-primary {
		margin: 0 auto;
		max-width: 242px;
		font-size: 14px;
	}

	.comp-featured-properties-container .slick-action {
		margin-left: 44%;
	}

	.properties-item p {
		text-align: center;
	}

	/* Featured-properties end */


	/* Featured-areas start */

	/* Featured-areas end */


	/* Cta start */

	.comp-cta-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template: none;
		grid-gap: 24px;
	}
	.cta-item a {
		max-width: 450px;
		margin: 0 auto;
	}
	/* Cta end */


	/* Testimonials start */

	.hp-testimonials .slick-dots {
		bottom: 95px;
		right: 36%;
	}

	.comp-testimonials-container {
		grid-template-areas: 
		"testimonial testimonial"
		"contactForm contactForm";
	}
	
	.comp-testimonials-container .testimonial p {
		text-align: center;
	}

	.comp-testimonials-container .site-btn-primary {
		margin-left: auto;
		margin-right: auto;
	}

	.site-title-primary {
		justify-content: center;
	}

	.testimonial {
		padding: 22px 12px;
	}

	.testimonial h5 {
		text-align: center;
	}

	.testimonial h6 {
		text-align: center;
	}

	.testimonial-slick {
		max-width: none;
	}


	/* Testimonials End */


	/* Featured Videos start */
	.comp-featured-videos-container .video-item {
		grid-column: 1/-1;
		grid-row: 1;
	}
	.comp-featured-videos-container .main-video {
		grid-column: 1/-1;
		grid-row: 2;
	}
	/* Featured Videos end */


	/* The following are used on inner pages. Please edit carefully. */

	.inner {
	    width: 100%;
	}
	#content-sidebar, #content-full {
	    width: 100%;
	}	
	.outer{
		width: 100%;
		min-width: 100%;
	}
	#content-sidebar #content{
		width: 100%;
	}
	
} 

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */ 
@media only screen and (max-width: 767px) {
	/* 481 */

	/* Header start */

	/* Header end */


	/* Slideshow start */

	/* Slideshow end */


	/* Quick search start */

	/* Quick search end */


	/* About start*/

	/* About end*/


	/* Featured-properties start */

	/* Featured-properties end */


	/* Featured-areas start */

	/* Featured-areas end */


	/* Cta start */

	/* Cta end */


	/* Testimonials start */

	/* Testimonials End */


	/* Featured Videos start */

	/* Featured Videos end */

    .ip-banner .container{
        width: 100%;
    }
}

/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */ 
@media only screen and (max-width: 480px) {
	/* 321 */

	/* Header start */

	/* Header end */


	/* Slideshow start */

	/* Slideshow end */


	/* Quick search start */

	/* Quick search end */


	/* About start*/

	/* About end*/


	/* Featured-properties start */

	/* Featured-properties end */


	/* Featured-areas start */

	/* Featured-areas end */


	/* Cta start */

	/* Cta end */


	/* Testimonials start */

	/* Testimonials End */


	/* Featured Videos start */

	/* Featured Videos end */

}
 
